.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis
.DS_Store
.vscode/
.idea/
*.tmp
data/*.parquet
data/*.tif
data/*.shp
data/*.dbf
data/*.shx
outputs/
climate_output/
processed_climate/
.cache/
.env.example
.env
#manual_test*.py
*.csv
reference_material
reference_material/